body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px; /* Espaço reduzido para compensar a altura do cabeçalho */
  min-height: 100vh;
  height: 100vh;
}

.form-container {
  background-color: #ffffff;
  border: 2px solid #008080;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-top: 5px; 
  margin-bottom: 5px; 
  max-width: 360px;
  width: 100%;
  text-align: center;
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: 1.6em;
  color: #008080;
}

.form-container label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 1em;
  color: #333;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
  box-sizing: border-box;
}

.form-container button {
  background-color: #008080;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #006666;
}

.form-container .link {
  display: block;
  margin-top: 15px;
  font-size: 0.9em;
  color: #008080;
  text-decoration: none;
}

.form-container .link:hover {
  text-decoration: underline;
}
